<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Depundit - Contact Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <ul>
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h2 class="section-title text-center text-primary text-uppercase">ACCOMODATION POLICY</h2>
            
        </div>
        <!-- <div class="testimonial" > -->
        <LI>CHECK-IN TIME IS 1:00PM.</LI>
        <LI>CHECK-OUT TIME IS 12:00 NOON.</LI>
        <LI>50% ROOM RATE WILL BE CHARGED FOR LATE CHECK-OUT AFTER 12:00 NOON.</LI>
        <LI>100% ROOM RATE WILL BE CHARGED FOR LATE CHECK-OUT AFTER 6:00PM.</LI>
        <LI>RESERVATIONS ARE NOT GUARANTEED UNTIL FULL PAYMENT IS MADE.</LI>
        <LI>100% ROOM RATE WILL BE CHARGED FOR CANCELLATIONS NOT MADE 24 HOURS BEFORE ARRIVAL DATE.</LI>
        <LI>50% ROOM RATE WILL BE CHARGED FOR CANCELLATIONS NOT MADE 48 HOURS BEFORE ARRIVAL DATE.</LI>
        <LI>RATES ARE SUBJECTED TO CHANGE WITHOUT PRIOR NOTICE.</LI>
        <LI>FOODS,DRINKS AND PETS ARE NOT ALLOWED INTO THE HOTEL.</LI>
        <LI>GUESTS ARE ADVISED TO ALWAYS DROP THEIR KEYS AT THE RECEPTION WHEN GOING OUT.</LI>
        <LI>GUESTS ARE ADVISED TO ALWAYS MAINTAIN CREDIT BALANCES TO AVOID DELAY OF SERVICES.</LI>
        <LI>ALL EXPARTRIATES ARE TO PRESENT THEIR INTERNATIONAL PASSPORT TO BE PHOTOCOPIED FOR DOCUMENTATION PURPOSES PRIOR TO CHECK-IN.</LI>
        <LI>ALL VALUABLES ARE TO BE KEPT IN THE FRONT OFFICE FOR SAFE-KEEPING, THE HOTEL WILL NOT BE RESPONSIBLE FOR LOSS UNDECLEARED VALUABLES.</LI>
        <H4>SIGNED MANAGEMENT.</H4>
       <!-- </div> -->

    </ul>
    <br>
    <br>
    <br>
    <br>

     <!-- Footer Start -->
     <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
        <div class="container pb-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-4">
                    <div class="bg-primary rounded p-4">
                        <a href="index.html"><h1 class="text-white text-uppercase mb-3">Depundit</h1></a>
                        <p class="text-white mb-0">
                            Download <a class="text-dark fw-medium" href="">Hotelier – Premium Version</a>, build a professional website for your hotel business and grab the attention of new visitors upon your site’s launch.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>24 Bode Thomas Street, Lagos </p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+2348066567414 & +2348084488917</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>oladejiajayi21@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="row gy-5 g-4">
                        <div class="col-md-6">
                            <h6 class="section-title text-start text-primary text-uppercase mb-4">Company</h6>
                            <a class="btn btn-link" href="">About Us</a>
                            <a class="btn btn-link" href="">Contact Us</a>
                            <a class="btn btn-link" href="">Privacy Policy</a>
                            <a class="btn btn-link" href="">Terms & Condition</a>
                            <a class="btn btn-link" href="">Support</a>
                        </div>
                        <div class="col-md-6">
                            <h6 class="section-title text-start text-primary text-uppercase mb-4">Services</h6>
                            <a class="btn btn-link" href="">Food & Restaurant</a>
                            <a class="btn btn-link" href="">Spa & Fitness</a>
                            <a class="btn btn-link" href="">Sports & Gaming</a>
                            <a class="btn btn-link" href="">Event & Party</a>
                            <a class="btn btn-link" href="">GYM & Yoga</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Depundit GYM</a>, All Right Reserved. 
                        

                        Designed By <a class="border-bottom" href="">Depundit GYM</a>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="">Home</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FQAs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</body>
</html>